# os
.DS_Store

# ide
.project
.classpath
.settings
.factorypath
.apt_generated
.externalToolBuilders
.idea
*.iml
.vscode

# maven
target

# cert files
*.pem
*.crt

# aws
aws-iam-*
aws-secure-*
aws-env*
aws-mcorpus-db-psql.sh
aws-mcorpus-dev.sh
aws-ec2-run.sh
codedeploy*.json

# app
mcorpus-creds.txt
*.log
MCorpusLoadTest-localdev.jmx
MCorpusLoadTest-aws.jmx
