target
.project
.classpath
.settings
.factorypath
.apt_generated
.externalToolBuilders
*.log
bin
.idea
*.iml
.vscode
.DS_Store
mcorpus-db/mcorpus-ddl/mcorpus-creds.txt

aws-env.txt
aws-mcorpus-db-psql.sh
aws-mcorpus-dev.sh

# cert files
*.pem
*.crt


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

mcorpus-gql/jmeter/MCorpusLoadTest-localdev.jmx
