# os
.DS_Store

# ide
.project
.classpath
.settings
.factorypath
.apt_generated
.externalToolBuilders
.idea
*.iml
.vscode

# maven
target

# cert files
# *.pem
*.crt
*.key
localhost-certgen.sh

# aws
aws-env*

# app
mcorpus-creds.txt
*.log
aws-env.sh
