<?xml version="1.0" encoding="UTF-8"?>
<!-- mcorpus PRD log config  -->
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="File" fileName="/logs/mcorpus-gql-server.log">
      <PatternLayout>
        <Pattern>%d{ISO8601} [%t] %-5level %logger{36} - %msg%n</Pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="com.zaxxer.hikari" level="warn" />
    
    <Root level="INFO">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>
